.dropdown {
    position: relative;
    display: flex;
    background-color: #fff;
    border:0px;
    margin-left: 12px;

  }

  .dropIcon{
    height: 10px;
    width: 15px;
  }
  
  .dropdown-toggle {
    margin-left: 822px;
    padding: 10px;
    background-color: #fff;
    border:0px;
    
    cursor: pointer;
  }
  
  .dropdown-menu {
    margin-left: 85%;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    padding: 0;
    
    list-style-type: none;
    background-color: #fff;
    border: 0px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    padding: 15px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f2f2f2;
  }
  